<ion-view>
	<ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title"><center>QUALIFICAÇÃO DO PREPOSTO</center></h1>
    </ion-header-bar>
	<ion-content>
      <ion-refresher
      pulling-text="Puxe para fotografar..."
      on-refresh="doRefresh()">
      </ion-refresher>

			<div class="list list-inset">
  				<label class="item item-input">
    				<input type="text" id='cpf2' class="centraliza" ng-model="cpf" placeholder="número do cpf" maxlength="14" ui-cpf ng-dblclick="limpaCpf()">
  				</label>

  				<label class="item item-input">
    				<input type="text" id="nome2" ng-model="nome" placeholder="nome completo" capitalize>
  				</label>

  				<label class="item item-input">
    				<input type="number" id="identidade2" ng-model="identidade" placeholder="número da identidade">
  				</label>

  				<div class="list">
  				<label class="item item-input item-select">
    			<div class="input-label">Órgão emiisor</div>
    			<select id="emissor2" ng-options="item as item.orgao for item in orgaos track by item.sigla" ng-model="selected" ng-change="testaForm()">
    			</select>
  				</label>
				</div>

				<button class="button button-full button-positive" ng-show="showProsseguir" ng-click="prosseguir()">
  			Prosseguir
				</button>

        <button class="button button-full button-positive" ng-hide="showProsseguir" ng-click="finalizar()">
        Sem preposto
        </button>

  			</div>

	</ion-content>
</ion-view>