<ion-view>
	<ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title"><center>FOTO DO AUXILIAR</center></h1>
    </ion-header-bar>
	<ion-content>
	<center><img class="textos" ng-src="http://placehold.it/300x300"/></center>
	<button class="button button-full button-positive" ng-click="fotografar()" ng-hide="showFotografar">fotografar</button>
	<button class="button button-full button-positive" ng-click="salvar()" ng-show="showSalvar">salvar</button>
			
	</ion-content>
</ion-view>